{% load static %}
<header>
    <div class="navbar">
      <div class="navbar-content">
                    <div class="language-switch">
                        <label for="language-select">Language:</label>
                        <select id="language-select">
                            <option value="vi">Vietnamese</option>
                            <option value="en">English</option>
                        </select>
                    </div>
<!--                <div class="logo">Your Logo</div>-->
                <div class="navbar-links">
                    <a href="#" class="notification"><i class="fas fa-bell"></i></a>
                    <a href="#" class="account">sign in</a>
                    <a>/</a>
                    <a href="#" class="account">sign up</a>
                </div>
            </div>
    </div>
  <img src="{% static 'img/sushiheader.png' %}" />
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'book' %}">Book</a></li>
    <li><a href="{% url 'bookings' %}">Reservations</a></li>
  </ul>
</nav>
